.idea
database/*
node_modules/*

# Dossiers et fichiers générés par Cordova
frontend//node_modules
frontend//platforms
frontend//plugins
frontend//www

# Fichiers de configuration de Cordova
frontend/config.xml
frontend/cordova_plugins.js
frontend/package-lock.json

# Dossiers et fichiers spécifiques à Ionic
frontend/www/build
frontend/www/cordova
frontend/www/capacitor
frontend/www/browser
frontend/platforms/android
frontend/platforms/ios
frontend/plugins/ios.json
frontend/plugins/android.json
/.idea

# Dossiers et fichiers spécifiques à Capacitor
/android
/ios
/www/build
/www/cordova
/www/node_modules
/www/plugins
/*.iml
/*.log
/*.log.*
# Ignore .env file
.env
backend/.env
backend/tests/mock_data/.env.test
#gitignore du backend



# Ignore node_modules directory
backend/node_modules/
backend/coverage/
#uploads
backend/uploads/plants/
!backend/uploads/plants/demo_data/
backend/uploads/profile_pictures/
!backend/uploads/profile_pictures/demo_data/
backend/uploads/comments/
!backend/uploads/comments/demo_data/