<!-- plantDetails.ejs -->

<%- include("_header") -%>

<h1>Détails de la user</h1>

<div>
  <h5>Nom : <%= model.FirstName %></h5>
  <p>Famille: <%= model.LastName %></p>
</div>

<%- include("_footer") -%>
