# Ignore node_modules directory
node_modules/
#uploads
src/assets/uploads/users_plants_pictures/*
src/assets/uploads/users_plants_pictures/demo_data/
src/assets/uploads/users_profile_pictures/*
src/assets/uploads/users_profile_pictures/demo_data/