<%- include("_header") -%>

<h1>Modifier une user</h1>

<form action="/user/edit/<%= model.UserID %>" method="post">

  <div class="form-horizontal">

    <%- include("_editor") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Modifier" class="btn btn-default btn-warning" />
        <a class="btn btn-outline-dark cancel" href="/users">Annuler</a>
      </div>
    </div>

  </div>
</form>

<%- include("_footer") -%>
