<div class="w-100 flex-row overflow-hidden" style="min-height: 90vh;">
  <div class="w-25 color-prim">
    <figure class="snip1336 w-100">
      <img src="../../../assets/images/plantes_illustration.jpg" alt="sample87" />
      <figcaption *ngIf="user">
        <img src="{{ApiService.baseUrl}}/uploads/profile_pictures/{{user.profile_picture}}" alt="profile-sample4" class="profile" />
        <h2>{{ user.username }}<span *ngIf="user.role === 'botanist'">Botaniste certifié</span></h2>
        <p>{{ user.bio }}</p>

        <h3 style=" border-top: solid 1px rgba(0, 0, 0, 0.125);padding-top: 10px">Adresses</h3>
        <div *ngFor="let address of addresses" class="address flex-row">
          <p>{{ address.address }},  <span class="long-lat">{{address.city}} - {{address.country}}</span></p>
          <p-button *ngIf="user?.user_id === this.authService.getUserId()" [style]="{'border':0,'color':'#4A4A4A','margin': '0 1vw','padding': 0,'background-color':'white'}" icon="pi pi-trash" class="p-button-danger" (click)="deleteAddress(address)"></p-button>

        </div>
        <p-button *ngIf="user?.user_id === this.authService.getUserId()" [styleClass]="'p-button-plus'" icon="pi pi-plus" class="p-button-plus" (click)="openAddressForm()"></p-button>

      </figcaption>
    </figure>
  </div>
  <div class="tab-panel w-75 color-sec">
      <label for="tab-4" tabindex="0" class="tab-panel-label two-tabs"></label>
      <input id="tab-4" type="radio" name="tabs2" checked="true" aria-hidden="true" />
      <h2 class="tab-title two-tabs">Mes plantes</h2>

      <div class="tab-panel-content">
        <div  class="w-100 flex-col">
          <div>
            <h2 class="w-100 text-center">Mes plantes
              <p-button *ngIf="user?.user_id === this.authService.getUserId()" [styleClass]="'p-button-plus'" [style]="{'width':'5vw','border':0,'color':'#4A4A4A','margin': 0,'padding': 0}" icon="pi pi-plus" class="p-button-plus" (click)="openPlantForm()"></p-button>
            </h2>

          </div>
          <p-carousel *ngIf="plants.length > 0" [value]="plants" [numVisible]="3" [numScroll]="3" [circular]="true"  [autoplayInterval]=10000 >
            <ng-template let-plant pTemplate="item">
              <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                <div class="mb-3">
                  <img  src="{{ApiService.baseUrl}}/uploads/plants/{{ plant.image }}" [alt]="plant.name" class="w-6 shadow-2 image-plant" />
                </div>
                <div>
                  <h4 class="mb-1">{{ plant.name }}</h4>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
        <div  class="w-100 flex-col">
          <h2 class="w-100 text-center">Les plantes que j'aimerai faire garder
            <p-button *ngIf="user?.user_id === this.authService.getUserId()" [styleClass]="'p-button-plus'" [style]="{'width':'5vw','border':0,'color':'#4A4A4A','margin': 0,'padding': 0}" icon="pi pi-plus" class="p-button-plus" (click)="openCareSessionPublicationForm()"></p-button>
          </h2>
          <p-carousel *ngIf="availableCareSessions.length > 0" [value]="availableCareSessions" [numVisible]="3" [numScroll]="3" [circular]="true"  [autoplayInterval]=10000 >
            <ng-template let-availableCareSession pTemplate="item">
              <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                <div routerLink="/care-session/{{availableCareSession.careSession.session_id}}" class="mb-3">
                  <img src="{{ApiService.baseUrl}}/uploads/plants/{{ availableCareSession.plant.image }}" [alt]="availableCareSession.plant.name" class="w-6 shadow-2 image-plant" />
                </div>
                <div>
                  <h4 class="mb-1">{{ availableCareSession.plant.name }}</h4>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
        <div  class="w-100 flex-col">
          <h2 class="w-100 text-center">Les plantes que j'ai déjà fait garder</h2>
          <p-carousel *ngIf="previousCareSessions.length > 0"  [value]="previousCareSessions" [numVisible]="3" [numScroll]="3" [circular]="true"  [autoplayInterval]=10000 >
            <ng-template let-previousCareSession pTemplate="item">
              <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                <div routerLink="/care-session/{{previousCareSession.careSession.session_id}}" class="mb-3">
                  <img src="{{ApiService.baseUrl}}/uploads/plants/{{ previousCareSession.plant.image }}" [alt]="previousCareSession.plant.name" class="w-6 shadow-2 image-plant"/>
                </div>
                <div>
                  <h4 class="mb-1">{{ previousCareSession.plant.name }}</h4>
                </div>
              </div>
            </ng-template>
          </p-carousel>
      </div>
      </div>
      <label for="tab-5" tabindex="0" class="tab-panel-label two-tabs"></label>
      <input id="tab-5" type="radio" name="tabs2" aria-hidden="true" />
      <h2 class="tab-title two-tabs">Les plantes dont je me suis occupées</h2>

      <div class="tab-panel-content">
        <div class="w-100 flex-col">
          <h2 class="w-100 text-center">Les plantes que j'ai gardées</h2>
          <p-carousel *ngIf="careTakerExperiences.length > 0"  [value]="careTakerExperiences" [numVisible]="3" [numScroll]="3" [circular]="true"  [autoplayInterval]=10000 >
            <ng-template let-careTakerExperience pTemplate="item">
              <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                <div  class="mb-3">
                  <img src="{{ApiService.baseUrl}}/uploads/plants/{{ careTakerExperience.plant.image }}" [alt]="careTakerExperience.plant.name" class="w-6 shadow-2 image-plant"/>
                </div>
                <div>
                  <h4 class="mb-1">{{ careTakerExperience.plant.name }}</h4>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
</div>
<p-dialog [(visible)]="displayPlantForm" [modal]="true" [style]="{width: '50vw'}" [closable]="true">
  <app-plant-form (closeModal)="closePlantForm()"></app-plant-form>
</p-dialog>

<p-dialog [(visible)]="displayAddressForm" [modal]="true" [style]="{width: '50vw'}" [closable]="true">
  <app-address-form (closeModal)="closeAddressForm()"></app-address-form>
</p-dialog>
<p-dialog [(visible)]="displayCareSessionForm" [modal]="true" [style]="{width: '50vw'}" [closable]="true" (onShow)="publicationForm.ngOnInit()">
  <app-publication-form #publicationForm (closeModal)="closeCareSessionPublicationForm()"></app-publication-form>
</p-dialog>
