<div (click)="menuVertical()" class="pointer element-navbar top-fix"><span class="menu-label">MENU</span><span class="fa-solid fa-bars"></span> </div>


<div class="menu-lateral color-sec top-fix w-0 h-100 transition-rapide-horiz premier-plan " id="navbar-laterale">
    <ul class="overflow-hidden">
      <li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" routerLink="/home">Home</a></li>
      <li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" routerLink="/login">Login</a></li>
      <li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" routerLink="/register">Register</a></li>
      <li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" routerLink="/profile">Profile</a></li>
      <li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" routerLink="/map">Map</a></li>
    </ul>
</div>
