<!-- menu.component.html -->

<p-toolbar class="fixe" id="fixe">

  <div class="p-toolbar-group-start d-flex align-items-center">
    <button (click)="menuVertical()" class="icone_nav "><i class="fa-solid fa-bars"></i></button>
    <span class="title_nav">Arosaje</span>
  </div>

  <div  class="p-toolbar-group-end d-flex align-items-center">
      <p-avatar *ngIf="authService.isLoggedIn()" image="{{ApiService.baseUrl}}/uploads/profile_pictures/{{authService.getProfilePic()}}" shape="circle" size="xlarge" />
      <span *ngIf="authService.isLoggedIn()" class="text_nav">{{ authService.getUsername()}}</span>
  </div>


</p-toolbar>


<div class="menu-lateral color-sec top-fix w-0 h-100 transition-rapide-horiz premier-plan" id="navbar-laterale">

  <ul class="overflow-hidden">

    <div class="search_menu d-flex justify-content-center align-items-center overflow-hidden">
      <!--<p-image src="\..\assets\images\logo_arosage.png" alt="Image" width="200" class="img_menu"></p-image> -->
    <span class="p-input-icon-left search_size">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input pInputText type="text" class="p-inputtext-lg search_txt" placeholder="Recherche utilisateur" />
      </span>
  </div>

  <li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" routerLink="/home">Home</a></li>
  <li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" routerLink="/login">Login</a></li>
  <li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" routerLink="/register">Register</a></li>
  <li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" routerLink="/profile">Profile</a></li>
  <li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" routerLink="/map">Map</a></li>
</ul>
</div>

