<section class="game-section">
  <div class="owl-carousel custom-carousel owl-theme">
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig">
        <div ngxSlickItem class="slide" *ngFor="let slide of slides; let i = index">
          <div class="item"
               [style.backgroundImage]="'url(' + slide.img + ')'"
               (mouseenter)="hoveredItemIndex = i"
               (mouseleave)="hoveredItemIndex = null"
               [ngClass]="{'active': hoveredItemIndex === i}">
            <div class="item-desc">
              <h3>{{ slide.nom }}</h3>
              <p>{{ slide.bio }}</p>
            </div>
          </div>
        </div>
    </ngx-slick-carousel>
  </div>
</section>
