<app-next-care-sessions-carousel></app-next-care-sessions-carousel>
<app-profiles-carousel></app-profiles-carousel>

<section class="cta-div">

    <h2 class="line-title">Ajouter votre plante</h2>
    <hr class="divider">

    <div class="center_solo" >

        <div class="card-cta">
            <div class="card-header-cda">
                <h6 class="card-header-cda-title">Confiez Vos Plantes à Arosaje !</h6>
                <p class="card-header-cda-txt">
                    Découvrez une nouvelle façon de prendre soin de vos plantes avec Arosaje!<br><br>
                    Confiez-leur notre communauté de botanistes passionnés pour une croissance saine, même en votre absence.<br>
                    Ajoutez vos plantes, partagez des photos après chaque session de garde, et recevez des conseils experts.<br><br>
                    Faites confiance à la communauté d'Arosaje pour prendre soin de vos plantes comme vous le feriez,
                    rejoignez-nous et cultivez une passion botanique partagée !
                </p>
            </div>

            <div class="card-footer-cda">
                <div class="card-footer-cont-cda">
                    <span>Confiez vos plantes maintenant !</span>
                </div>
            </div>

        </div>
    </div>

</section>

<section class="map-home">

    <h2 class="line-title-grey">Voir les plantes sur la carte</h2>
    <hr class="divider-grey">

    <div class="center_solo" >

        <div class="card-map">

        </div>
    </div>

</section>

<app-footer></app-footer>


