<div class="flex-row">
  <div class="w-40 image-illustration" style="background-image: url('assets/images/plant.jpg')"></div>
  <div [class]="getWidthLogin + ' color-sec h-100 align'">
    <div class="grid">

      <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm" enctype="multipart/form-data" method="POST" class="form register">

        <div class="form__field">
          <input autocomplete="username" id="register__username" type="text" [(ngModel)]="username" name="username" class="form__input" placeholder="Username" required>
        </div>
        <p-message *ngIf="error_username" severity="error" text="Le nom d'utilisateur ne doit contenir que des lettres, chiffres, tirets et underscores."></p-message>

        <div class="form__field">
          <input autocomplete="email" id="register__email" type="email" [(ngModel)]="email" name="email" class="form__input" placeholder="Email" required>
        </div>
        <p-message *ngIf="error_email" severity="error" text="Veuillez fournir une addresse email valide."></p-message>

        <div class="form__field">
          <input autocomplete="description" id="register__bio" type="text" [(ngModel)]="bio" name="bio" class="form__input" placeholder="Bio">
        </div>
        <div class="form__field">
          <input
            autocomplete="current-password"
            id="register__password"
            type="password"
            [(ngModel)]="password"
            name="password"
            class="form__input"
            placeholder="Password"
            required>
        </div>
        <p-message *ngIf="error_password" severity="error" text="Le mot de passe doit contenir au moins 8 caractères, une lettre majuscule, une lettre minuscule et un chiffre."></p-message>

        <p-fileUpload #fileUpload
                      mode="basic" name="demo[]"
                      cancelIcon="pi pi-times"
                      cancelLabel="téléchargement annulé"
                      chooseLabel="Choose"
                      accept="image/*"
                      [maxFileSize]="10000000">
        </p-fileUpload>
        <p-message *ngIf="error_file" severity="error" text="Veuillez télécharger un avatar"></p-message>

        <div class="form__field">
          <input type="submit" value="Sign Up">
        </div>
      </form>
      <p-message *ngIf="registerForm.invalid && tried_once" severity="error" text="Formulaire invalide remplissez les champs pseudo, email, mot de passe et un avatar"></p-message>

      <p class="text--center">Déjà un compte? <a routerLink="/login">Se connecter</a> <svg class="icon">
        <use xlink:href="#icon-arrow-right"></use>
      </svg></p>

    </div>

    <svg xmlns="http://www.w3.org/2000/svg" class="icons">
      <symbol id="icon-arrow-right" viewBox="0 0 1792 1792">
        <path d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293H245q-52 0-84.5-37.5T128 1024V896q0-53 32.5-90.5T245 768h704L656 474q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z" />
      </symbol>
      <symbol id="icon-lock" viewBox="0 0 1792 1792">
        <path d="M640 768h512V576q0-106-75-181t-181-75-181 75-75 181v192zm832 96v576q0 40-28 68t-68 28H416q-40 0-68-28t-28-68V864q0-40 28-68t68-28h32V576q0-184 132-316t316-132 316 132 132 316v192h32q40 0 68 28t28 68z" />
      </symbol>
      <symbol id="icon-user" viewBox="0 0 1792 1792">
        <path d="M1600 1405q0 120-73 189.5t-194 69.5H459q-121 0-194-69.5T192 1405q0-53 3.5-103.5t14-109T236 1084t43-97.5 62-81 85.5-53.5T538 832q9 0 42 21.5t74.5 48 108 48T896 971t133.5-21.5 108-48 74.5-48 42-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-320-893q0 159-112.5 271.5T896 896 624.5 783.5 512 512t112.5-271.5T896 128t271.5 112.5T1280 512z" />
      </symbol>
    </svg>
  </div>
</div>
