<section>

    <div class="center_solo">

        <div class="text-left">
            <h2 class="line-title">Conditions Générales d'Utilisation de l'Application Arosaje</h2>
            <hr class="divider"><br>

        <p class="pream"><i><strong>Préambule</strong></i></p><br>
        <p>Les présentes conditions générales d'utilisation (ci-après les "CGU") définissent les règles et conditions applicables à l'utilisation de l'application mobile Arosaje.</p>
        <p>L'Application est éditée par la société Arosaje, SAS au capital de 10 000€, dont le siège social est situé à Rennes, immatriculée au RCS de Rennes sous le numéro RCS Rennes B 517 403 572.</p>
        <p>L'Application est accessible gratuitement à toute personne physique disposant d'un smartphone ou d'une tablette compatible.</p>

        <h4 class="article-txt">Article 1 - Objet</h4>
        <p>L'Application permet aux utilisateurs de mettre en relation des propriétaires de plantes avec des personnes disponibles pour les garder.</p>
        <p>L'Application propose également des services complémentaires tels que :</p>
        <ul>
            <li>La possibilité pour les utilisateurs de prendre des photos de leurs plantes et de les partager avec la communauté.</li>
            <li>La possibilité pour les utilisateurs de consulter des conseils d'entretien des plantes rédigés par des botanistes.</li>
            <li>La possibilité pour les utilisateurs de géolocaliser les plantes qu'ils ont mises en garde.</li>
            <li>La possibilité pour les utilisateurs de créer des albums photos de leurs plantes.</li>
            <li>La possibilité pour les utilisateurs de noter et de commenter les services des gardes-plantes.</li>
            <li>La possibilité pour les utilisateurs de participer à des forums de discussion sur les plantes.</li>
        </ul>

        <h4 class="article-txt">Article 2 - Acceptation des CGU</h4>
        <p>L'utilisation de l'Application est subordonnée à l'acceptation des présentes CGU.</p>
        <p>L'utilisateur reconnaît avoir pris connaissance des CGU et les avoir acceptées sans réserve en cochant la case "J'accepte les conditions générales d'utilisation" lors de la création de son compte.</p>

        <h4 class="article-txt">Article 3 - Création de compte</h4>
        <p>Pour utiliser l'Application, l'utilisateur doit créer un compte en fournissant les informations suivantes :</p>
        <ul>
            <li>Son nom et prénom</li>
            <li>Son adresse email</li>
            <li>Son mot de passe</li>
            <li>Son numéro de téléphone</li>
            <li>Sa photo de profil</li>
            <li>Une description de ses plantes</li>
            <li>Ses disponibilités pour garder des plantes</li>
        </ul>
        <p>L'utilisateur peut fournir une copie de sa pièce d'identité et un justificatif de domicile.</p>

        <h4 class="article-txt">Article 4 - Accès à l'Application</h4>
        <p>L'utilisateur est responsable de l'installation et de la configuration de l'Application sur son terminal.</p>
        <p>L'utilisateur est également responsable des frais de connexion à internet nécessaires à l'utilisation de l'Application.</p>
        <p>L'Application est compatible avec les smartphones et tablettes fonctionnant sous iOS 12.0 ou supérieur et Android 5.0 ou supérieur.</p>

        <h4 class="article-txt">Article 5 - Utilisation de l'Application</h4>
        <p>L'utilisateur s'engage à utiliser l'Application conformément aux présentes CGU et aux lois et règlements en vigueur.</p>
        <p>L'utilisateur s'engage notamment à :</p>
        <ul>
            <li>Ne pas utiliser l'Application à des fins contraires à l'ordre public ou aux bonnes mœurs.</li>
            <li>Ne pas diffuser de contenu illicite, diffamatoire, injurieux ou portant atteinte à la vie privée d'autrui.</li>
            <li>Ne pas utiliser l'Application pour usurper l'identité d'une autre personne.</li>
            <li>Ne pas tenter de pirater ou de dégrader l'Application.</li>
            <li>Respecter les autres utilisateurs de l'Application.</li>
            <li>Ne pas utiliser l'Application à des fins commerciales, notamment pour la vente de plantes ou de services de garde-plantes.</li>
        </ul>

        <h4 class="article-txt">Article 6 - Propriété intellectuelle</h4>
        <p>L'ensemble des contenus de l'Application, y compris les textes, images, vidéos et sons, sont protégés par le droit d'auteur et le droit des marques.</p>
        <p>L'utilisateur est autorisé à utiliser les contenus de l'Application pour son usage personnel uniquement.</p>
        <p>L'utilisateur s'engage à ne pas reproduire, modifier, diffuser ou exploiter de quelque manière que ce soit les contenus de l'Application sans l'autorisation expresse et écrite d'Arosaje.</p>

        <h4 class="article-txt">Article 7 - Responsabilité</h4>
        <p>Arosaje met tout en œuvre pour assurer la sécurité de l'Application, mais ne peut garantir l'absence totale de bugs ou de virus.</p>
        <p>L'utilisateur est responsable de la sécurité de ses données personnelles et de son mot de passe.</p>
        <p>Arosaje ne peut être tenue responsable des dommages directs ou indirects causés par l'utilisation de l'Application.</p>
        <p>Arosaje met tout en œuvre pour assurer la sécurité de l'Application, mais ne peut garantir l'absence totale de bugs ou de virus.</p>
        <p>L'utilisateur est responsable de la sécurité de ses données personnelles et de son mot de passe.</p>

        <h4 class="article-txt">Article 8 - Résiliation</h4>
        <p>Arosaje peut résilier le compte d'un utilisateur à tout moment, sans préavis ni motif.</p>
        <p>L'utilisateur peut résilier son compte à tout moment en se rendant dans les paramètres de l'Application.</p>
        <p>Arosaje peut résilier le compte d'un utilisateur en cas de violation des présentes CGU, de non-utilisation de l'Application pendant une période prolongée ou de comportement frauduleux.</p>

        <h4 class="article-txt">Article 9 - Loi applicable et juridiction compétente</h4>
        <p>Les présentes CGU sont soumises au droit français. En cas de litige, les tribunaux de Rennes seront seuls compétents.

        <h4 class="article-txt">Article 10 - Modification des CGU</h4>
        <p>Arosaje se réserve le droit de modifier les présentes CGU à tout moment.</p>
        <p>Les modifications apportées aux CGU seront notifiées aux utilisateurs par email ou par un message sur l'Application.</p>
        <p>L'utilisateur qui n'accepte pas les modifications apportées aux CGU peut résilier son compte.</p>

        <h4 class="article-txt">Article 11 - Données personnelles</h4>
        <p>Arosaje s'engage à collecter et traiter les données personnelles des utilisateurs dans le respect de la réglementation applicable et notamment du Règlement Général sur la Protection des Données (RGPD).</p>
        <p>Pour plus d'informations sur la collecte et le traitement de vos données personnelles, veuillez consulter notre Politique de confidentialité accessible sur l'Application.</p>
        <p>Les données personnelles des utilisateurs sont conservées pendant une durée de cinq ans après la suppression de leur compte.</p>

        <h4 class="article-txt">Article 12 - Service Client</h4>
        <p>Pour toute question relative à l'utilisation de l'Application, l'utilisateur peut contacter le service client d'Arosaje par email ou par téléphone.</p>
        <p>Le service client d'Arosaje est accessible du lundi au vendredi de 9h à 18h.</p>

        <h4 class="article-txt">Article 13 - Dispositions finales</h4>
        <p>Si une ou plusieurs dispositions des présentes CGU sont tenues pour nulles ou inapplicables en tout ou partie, les autres dispositions resteront en vigueur.</p>
        <p>Les présentes CGU constituent l'intégralité de l'accord entre l'utilisateur et Arosaje s'agissant de l'utilisation de l'Application.</p>
        <br><br><br>
        <p>Fait à Rennes, le 20/02/2024</p><br>
        <p>La société Arosaje</p>

        </div>
    </div>

    <div class="center_solo" style="margin-top:5em; margin-bottom:5em;">

        <div class="text-left">
            <h2 class="line-title">Politique de Confidentialité d'Arosaje</h2>
            <hr class="divider"><br>

            <p>Date d'Entrée en Vigueur : 20/02/2024</p>
            <p>Chez Arosaje, nous accordons une grande importance à la protection de vos données personnelles.
                La présente Politique de Confidentialité a pour but de vous informer en toute transparence sur la manière dont nous collectons, utilisons,
                partageons et protégeons vos informations personnelles lorsque vous utilisez notre application mobile Arosaje.
            </p>

            <h4 class="article-txt">Article 1 - Collecte des Informations</h4>
            <p>L'entreprise Arosaje prend en charge la collecte des informations avec le plus grand soin pour garantir la confidentialité des utilisateurs. Cette section décrit les différentes catégories de données collectées :</p>
            <p>1. <strong>Informations d'Identification Personnelle (PII):</strong></p>
            <p>Lors de la création du compte, les utilisateurs sont amenés à fournir des données personnelles essentielles. Ces informations comprennent le nom complet, l'adresse email, le mot de passe, le numéro de téléphone, la photo de profil, la description des plantes, les disponibilités pour garder des plantes, l'adresse postale (optionnel), et la date de naissance (optionnel).</p>
            <p>De plus, des données relatives à l'utilisation de l'Application sont collectées, telles que les pages consultées, les photos et commentaires publiés, les notes et avis attribués, la localisation des plantes gardées, l'historique des recherches, et les interactions avec d'autres utilisateurs.</p>
            <p>Les données techniques sont également enregistrées, comprenant l'adresse IP, le type de terminal utilisé, le système d'exploitation, la version de l'application, et l'identifiant unique de l'appareil.</p>
            <p>2. <strong>Informations Non-Identifiables (PII):</strong></p>
            <p>Des données non-identifiables sont collectées via des cookies et des technologies similaires. Celles-ci englobent les préférences de l'utilisateur, les données de navigation, et d'autres informations liées au comportement d'utilisation.</p>

            <h4 class="article-txt">Article 2 - Utilisation des Informations</h4>
            <p>Dans cette section, nous expliquons comment Arosaje utilise les informations collectées pour fournir des services de qualité et améliorer constamment l'expérience utilisateur.</p>
            <p>1. <strong>Fournir et Améliorer les Services de l'Application:</strong></p>
            <p>Nous mettons en relation les propriétaires de plantes avec des gardes-plantes, proposons des conseils d'entretien, géolocalisons les plantes gardées, facilitons la communication entre les utilisateurs et gérons les transactions financières.</p>
            <p>2. <strong>Personnalisation de l'Expérience Utilisateur:</strong></p>
            <p>Nous personnalisons l'expérience utilisateur en proposant des contenus pertinents, en analysant l'utilisation de l'Application pour identifier les bugs et en améliorant l'efficacité de la communication et des services.</p>
            <p>3. <strong>Envoyer des Communications:</strong></p>
            <p>Nous informons les utilisateurs des actualités de l'Application, des offres promotionnelles, des événements organisés par Arosaje, et réalisons des enquêtes de satisfaction ainsi que l'envoi de newsletters.</p>
            <p>4. <strong>Réaliser des Statistiques et des Analyses:</strong></p>
            <p>Nous mesurons l'audience de l'Application, suivons les performances des services, comprenons mieux les besoins des utilisateurs et améliorons l'efficacité de la communication.</p>

            <h4 class="article-txt">Article 3 - Partage des Informations</h4>
            <p>Dans cette section, nous détaillons comment Arosaje partage les informations collectées, en mettant l'accent sur la transparence et la sécurité des données.</p>
            <p>1. <strong>Partage avec des Prestataires de Services:</strong></p>
            <p>Nous partageons certaines informations avec des prestataires de services pour assurer le bon fonctionnement de l'Application, notamment pour l'envoi d'emails, la réalisation de statistiques, le traitement des paiements et la gestion de la relation client.</p>
            <p>2. <strong>Partage avec des Autorités Légales:</strong></p>
            <p>Nous pouvons être amenés à partager des informations avec des autorités légales dans le respect de la loi, pour protéger les droits d'Arosaje, ainsi que pour protéger les utilisateurs ou des tiers.</p>
            <p>3. <strong>Anonymisation et Agrégation des Données:</strong></p>
            <p>Arosaje peut anonymiser et agréger les données personnelles dans le but de réaliser des analyses statistiques et des recherches. Ces données anonymisées ne permettent pas de vous identifier personnellement, garantissant ainsi votre confidentialité.</p>

            <h4 class="article-txt">Article 4 - Sécurité des Informations</h4>
            <p>Dans cette section, nous mettons en lumière les mesures prises par Arosaje pour assurer la sécurité des informations collectées, mettant ainsi l'accent sur la confidentialité et la protection des données personnelles de nos utilisateurs.</p>
            <p>1. <strong>Mesures de Sécurité Techniques et Organisationnelles:</strong></p>
            <p>Arosaje prend plusieurs mesures pour garantir la sécurité des données personnelles :</p>
            <ul>
                <li>Limitation de l'accès aux données personnelles.</li>
                <li>Pseudonymisation et anonymisation des données.</li>
                <li>Conservation des données personnelles sur des serveurs sécurisés.</li>
                <li>Mise en œuvre de procédures de sauvegarde et de restauration des données.</li>
                <li>Formation du personnel aux bonnes pratiques en matière de protection des données personnelles.</li>
            </ul>
            <p>2. <strong>Transfert des Données Personnelles:</strong></p>
            <p>Les données personnelles peuvent être transférées vers des pays en dehors de l'Espace économique européen (EEE). Arosaje prend toutes les mesures nécessaires pour mettre en place des garanties appropriées, assurant ainsi une protection adéquate des données personnelles lors de ces transferts.</p>

            <h4 class="article-txt">Article 5 - Cookies et Technologies Similaires</h4>
            <p>Dans cette section, nous abordons la gestion des cookies et des technologies similaires utilisées par l'Application Arosaje, mettant en évidence les différents types de cookies et les options de gestion à disposition des utilisateurs.</p>
            <p>1. <strong>Types de Cookies Utilisés:</strong></p>
            <p>L'Application utilise différents types de cookies, chacun ayant un rôle spécifique :</p>
            <ul>
                <li>Cookies techniques : nécessaires au fonctionnement de l'Application.</li>
                <li>Cookies de performance : améliorent les performances de l'Application.</li>
                <li>Cookies de ciblage : proposent des publicités ciblées en fonction des intérêts de l'utilisateur.</li>
            </ul>
            <p>2. <strong>Gestion des Cookies:</strong></p>
            <p>Nous offrons aux utilisateurs la possibilité de gérer les cookies en fonction de leurs préférences :</p>
            <ul>
                <li>Les utilisateurs peuvent désactiver les cookies à tout moment via leur navigateur.</li>
                <li>Il est important de noter que la désactivation de certains cookies peut limiter l'utilisation de certaines fonctionnalités de l'Application.</li>
            </ul>

            <h4 class="article-txt">Article 6 - Vos Droits et Choix</h4>
            <p>Dans cette section, nous mettons en lumière les droits et choix dont disposent les utilisateurs concernant leurs données personnelles, conformément à la Politique de Confidentialité d'Arosaje.</p>
            <p>1. <strong>Droit d'accès :</strong></p>
            <p>Vous avez le droit d'obtenir la confirmation que vos données personnelles sont traitées et d'y accéder.</p>
            <p>2. <strong>Droit de rectification :</strong></p>
            <p>Vous avez le droit de demander la correction des données personnelles inexactes ou incomplètes.</p>
            <p>3. <strong>Droit d'effacement :</strong></p>
            <p>Vous avez le droit de demander la suppression de vos données personnelles, sauf si nécessaire pour :</p>
            <ul>
                <li>Respecter une obligation légale.</li>
                <li>Pour des motifs d'intérêt public.</li>
                <li>Pour des raisons scientifiques ou historiques.</li>
                <li>Pour des fins statistiques.</li>
            </ul>
            <p>4. <strong>Droit de limitation du traitement :</strong></p>
            <p>Vous avez le droit de demander la limitation du traitement de vos données personnelles dans certains cas.</p>
            <p>5. <strong>Droit d'opposition :</strong></p>
            <p>Vous avez le droit de vous opposer au traitement de vos données personnelles pour des raisons tenant à votre situation particulière ou en cas de traitement à des fins de prospection commerciale.</p>
            <p>6. <strong>Droit à la portabilité :</strong></p>
            <p>Vous avez le droit de recevoir vos données personnelles dans un format structuré, couramment utilisé et lisible par machine. Vous pouvez également demander la transmission de ces données à un autre responsable du traitement, lorsque cela est techniquement possible.</p>
            <p>Pour exercer ces droits, veuillez contacter Arosaje par email ou par téléphone.</p>

            <h4 class="article-txt">Article 7 - Mineurs</h4>
            <p>L'Application n'est pas destinée aux mineurs de moins de 16 ans. Arosaje ne collecte pas intentionnellement des données personnelles d'enfants de moins de 16 ans. Si vous êtes le parent ou le tuteur d'un enfant de moins de 16 ans et que vous pensez que votre enfant a fourni des données personnelles à Arosaje, veuillez nous contacter aux coordonnées mentionnées ci-dessus.</p>

            <h4 class="article-txt">Article 8 - Modifications de la Politique de Confidentialité</h4>
            <p>Arosaje se réserve le droit de modifier la présente Politique de Confidentialité à tout moment. Les modifications apportées seront notifiées aux utilisateurs par email ou par un message sur l'Application. L'utilisateur qui n'accepte pas les modifications apportées à la Politique peut résilier son compte.</p>

            <h4 class="article-txt">Article 9 - Contact</h4>
            <p>Pour toute question relative à la présente Politique de Confidentialité, les utilisateurs peuvent contacter Arosaje par email ou par téléphone.</p>
            <br><br><br>
            <p>Fait à Rennes, le 20/02/2024</p><br>
            <p>La société Arosaje</p>

        </div>
    </div>

</section>

