<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit(addressForm)" #addressForm="ngForm" enctype="application/x-www-form-urlencoded"
          method="POST" class="form register">
      <h1> Nouvelle Adresse </h1>

      <label for="country">Pays <span class="mandatory">*</span></label>
      <input type="text" [(ngModel)]="country" class="form-control" id="country" name="country" ngModel required>
      <p-message *ngIf="errorCountry" severity="error" text="Pays invalide"></p-message>

      <label for="city">Ville: <span class="mandatory">*</span></label>
      <input type="text" [(ngModel)]="city" class="form-control" id="city" name="city" ngModel required>
      <p-message *ngIf="errorCity" severity="error" text="Ville invalide"></p-message>

      <label for="address">Adresse: <span class="mandatory">*</span></label>
      <input type="text" [(ngModel)]="address" class="form-control" id="address" name="address" ngModel required>
      <p-message *ngIf="errorAddress" severity="error" text="Adresse invalide"></p-message>

      <label for="zip_code">Code Postal: <span class="mandatory">*</span></label>
      <input type="text" [(ngModel)]="zip_code" class="form-control" id="zip_code" name="zip_code" ngModel required>
      <p-message *ngIf="errorZipCode" severity="error" text="Code postal invalide"></p-message>

      <label for="longitude">Longitude: <span class="mandatory">*</span></label>
      <input type="text" [(ngModel)]="longitude" class="form-control" id="longitude" name="longitude" ngModel required>
      <p-message *ngIf="errorLongitude" severity="error" text="Longitude invalide"></p-message>

      <label for="latitude">Latitude: <span class="mandatory">*</span></label>
      <input type="text" [(ngModel)]="latitude" class="form-control" id="latitude" name="latitude" ngModel required>
      <p-message *ngIf="errorLatitude" severity="error" text="Latitude invalide"></p-message>

      <button type="submit">Créer Adresse</button>
      <p-message *ngIf="errorAddress || errorCity || errorCountry || errorLatitude || errorLongitude || errorZipCode"
                 severity="error" text="Formulaire invalide remplissez les champs marqués d'un *"></p-message>
      <p-message *ngIf="errorMessage" severity="error" [text]=errorMessage></p-message>
    </form>
  </div>
</div>
