@use "sass:map";
@import 'primeicons/primeicons.css';
@import 'maplibre-gl/dist/maplibre-gl.css';
$primaryColor:#FFFFFF;
$secondaryColor:#5DB075;
$thirdColor:#4A4A4A;
.color-prim{
  background-color:$primaryColor;
}
.color-sec{
  background-color: $secondaryColor;
}
.color-third{
  background-color: $thirdColor;
}
.App {
  text-align: center;
}
.mapboxgl-marker, .maplibregl-marker {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
.maplibregl-popup {
  transform: translate(-50%, -50%) translate(1206px, 1016px) rotateX(0deg) rotateZ(0deg);
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: $thirdColor !important;
}



.p-button {
  color: #ffffff;
  background: $secondaryColor;
  border: 1px solid $thirdColor;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
  width: 100%;
  margin:1rem 0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
