@use "sass:map";
@import 'maplibre-gl/dist/maplibre-gl.css';
$primaryColor:#FFFFFF;
$secondaryColor:#5DB075;
$thirdColor:#4A4A4A;
.color-prim{
  background-color:$primaryColor;
}
.color-sec{
  background-color: $secondaryColor;
}
.color-third{
  background-color: $thirdColor;
}
.App {
  text-align: center;
}
.mapboxgl-marker, .maplibregl-marker {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
.maplibregl-popup {
  transform: translate(-50%, -50%) translate(1206px, 1016px) rotateX(0deg) rotateZ(0deg);
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: $thirdColor !important;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
