@use "sass:map";
$primaryColor:#FFFFFF;
$secondaryColor:#5DB075;
$thirdColor:#4A4A4A;
.color-prim{
  background-color:$primaryColor;
}
.color-sec{
  background-color: $secondaryColor;
}
.color-third{
  background-color: $thirdColor;
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
