<!-- menu.component.html -->

<p-toolbar class="sticky" id="header">
  <div class="p-toolbar-group-start d-flex align-items-center">
    <button (click)="menuVertical()" class="icone_nav "><i class="fa-solid fa-bars"></i></button>
    <p-image src="../assets/images/arosaje.png" alt="Image" width="100" class="mobile_picture"></p-image>
    <span class="title_nav">Arosaje</span>
  </div>

  <div *ngIf="authService.isLoggedIn()" routerLink="/profile/{{authService.getUserId()}}"  class="p-toolbar-group-end d-flex align-items-center">
    <p-avatar image="{{ApiService.baseUrl}}/uploads/profile_pictures/{{authService.getProfilePic()}}" shape="circle" size="xlarge" />
    <span class="text_nav">{{ authService.getUsername()}}</span>
  </div>
</p-toolbar>

<div class="menu-lateral color-sec top-fix w-0 h-100 transition-rapide-horiz premier-plan" id="navbar-laterale">
  <ul class="overflow-hidden">

    <form class="search-container" [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
      <input type="text" id="search-bar" placeholder="Recherche utilisateur" formControlName="search">
      <a href="#" class="search-icon">
        <i class="fa fa-search"></i>
      </a>
    </form>
    <div class="dropdown search-results" *ngIf="dropdownOpen" aria-labelledby="dropdownMenuButton" #dropdown>
      <p Class="dropdown_txt">Listes des utilisateurs</p>
      <div class="dropdown-item-div">
        <a *ngFor="let user of users.slice(0,6)" class="dropdown-item" (click)="fermerMenu()" routerLink="/profile/{{user.user_id}}">{{user.username}}</a>
      </div>
    </div>

    <li *ngIf="authService.isLoggedIn()" class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" routerLink="/home" (click)="fermerMenu()">Home</a></li>
    <li *ngIf="!authService.isLoggedIn()" class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" routerLink="/login" (click)="fermerMenu()">Login</a></li>
    <li *ngIf="!authService.isLoggedIn()" class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" routerLink="/register" (click)="fermerMenu()">Register</a></li>
    <li *ngIf="authService.isLoggedIn()" class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" routerLink="/profile/{{authService.getUserId()}}" (click)="fermerMenu()">Profile</a></li>
    <li *ngIf="authService.isLoggedIn()" class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" routerLink="/map" (click)="fermerMenu()">Map</a></li>
    <li *ngIf="authService.isLoggedIn()" class="options-menu-lateral li-clean" style="cursor: pointer"><a class="liens-menu-lateral a-clean" (click)="this.authService.logout(); fermerMenu();">Se déconnecter</a></li>
  </ul>
</div>
